<ion-view>
  <ion-header-bar>
    <div class="bar bar-header bar-energized">
      <h1 class="title">Crear Nuevo Usuario</h1>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      
    </form>
  </ion-content>
</ion-view>
