<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" ></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar bar-header bar-energized">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="icon ion-ios-home"></i>
          Inicio
        </ion-item>
        <ion-item menu-close href="#/app/user-profile">
          <i class="icon ion-person"></i>
          Perfil
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <i class="icon ion-android-list"></i>
          Políticas
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <i class="icon ion-android-clipboard"></i>
          Reservas
        </ion-item>
        <ion-item menu-close href="#/app/info">
          <i class="icon ion-information-circled"></i>
          Info
        </ion-item>
        <ion-item menu-close href="#/app/login">
          <i class="icon ion-reply"></i>
          Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
